{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
<div class="col-md-5">

<div class="card">

<div class="card-header">
Login
</div>

<div class="card-body">

{% if form.errors %}
<div class="alert alert-danger">
Usuario o contraseña incorrectos
</div>
{% endif %}

<form method="post">

{% csrf_token %}

<label>Usuario</label>
{{ form.username }}

<label>Contraseña</label>
{{ form.password }}

<button type="submit" class="btn btn-primary w-100">
Entrar
</button>

</form>

<p class="text-center mt-3">
No tienes cuenta?
<a href="/register/">Registrate aquí</a>
</p>

</div>

</div>

</div>
</div>

{% endblock %}